header {
    text-align: center;
    background: black;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    color: hotpink;

}

ul {
    text-align: center;
    color: brown;
    text-decoration: none;
    display: grid
}

.container {
    height: 400px;
}

.wrapper {
    display: grid;
    grid-template-columns: 66.667% 33.334%;
}

.box-a {
    background-color: rgba(225, 112, 161, 0.303);
    color: #090909;
    padding: 3em;
}

.box-b {
    text-align: right;
    background-color: hotpink;
}

form {
    display: grid;
}

h3 {
    text-align: center;
}

label {
    text-align: left;
}

h2 {
    text-decoration: underline;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column; 
    text-align: center;
}

footer {
    margin-top: auto;
    text-align: center;

}

footer h3 {
    text-align: center;
}

@media (max-width: 768px) {
    .wrapper {

        grid-template-columns: repeat(1, 1fr);
    }

    .box-b {
        text-align: center;
    }

    .box-a {
        text-align: center;
    }
}